<!-- <h2>Products</h2>
<input [(ngModel)]="filterText" />
<button (click)="reload()">Reload</button>
<ul>
  <li *ngFor="let p of filtered()">
    {{p.name}} - {{p.price}}
    <button (click)="pick(p.id)">Pick</button>
  </li>
</ul> -->

<h2 class="productsTitle">Products</h2>
<app-input-search (search)="onSearchEvent($event)"></app-input-search>
@let products = products$ | async;
  <ul class="products">
    @for ( product of products | filter: searchTerm: getProductKeys;; track product.id) {
      <app-product-item [product]="product"></app-product-item>
    }
</ul>
