.products {
  list-style: none;
  padding: 0;
}

.productsTitle {
  font-family: 'Segoe UI', sans-serif;
  margin-bottom: .5rem;
}

.empty {
  margin: 2rem 0;
  padding: 1.5rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  color: #666;

  border: 2px dashed #ccc;
  border-radius: 12px;
  background-color: #fafafa;

  transition: all 0.3s ease-in-out;

  &:hover {
    border-color: #999;
    background-color: #f0f0f0;
  }

  &::before {
    content: "📭 ";
    font-size: 1.3rem;
    display: block;
    margin-bottom: 0.5rem;
  }
}
