$primary: #007bff;
$danger: #dc2626;
$success: #16a34a;
$light: #f9fafb;
$border-color: #4f46e5;
$details-primary: #4f46e5;
$white: #fff;
$shadow: 0 2px 6px rgba(0,0,0,0.1);


// input
$border-color: #4f46e5;
$input-padding-vertical: 0.5rem;
$input-padding-horizontal: 0.75rem;
$input-border-radius: 8px;
$input-border: 1px solid #ccc;
$input-margin-bottom: 1rem;
$transition-speed: 0.2s;