@use 'variables' as *;

.detail {
  margin-top: 1.5rem;
  padding: 1rem 1.25rem;
  background: white;
  border-radius: 12px;
  box-shadow: $shadow;

  h3 {
    font-family: 'Segoe UI', sans-serif;
    margin-bottom: .5rem;
    color: $details-primary;
  }

  .price {
    font-size: 1.2rem;
    color: $details-primary;
    font-weight: bold;
    margin-bottom: .5rem;
  }

  .stock {
    font-weight: bold;

    &.in {
      color: green;
    }
    &.out {
      color: $danger;
    }
  }

  button {
    margin-top: 1rem;
    background: $details-primary;
    color: white;
    border: none;
    padding: .4rem .8rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: .85rem;
    transition: background .2s;

    &:hover {
      background: darken($details-primary, 10%);
    }
  }
}
